@font-face {
    font-family: "Bowlby One Regular";
    src: url(../fonts/BowlbyOne-Regular.ttf);
}
@font-face {
    font-family: "DM Mono Regular";
    src: url(../fonts/DMMono-Regular.ttf);
}
@font-face {
    font-family: "Modak Regular";
    src: url(../fonts/Modak-Regular.ttf);
}
@font-face {
    font-family: "Orelega One Regular";
    src: url(../fonts/OrelegaOne-Regular.ttf);
}
@font-face {
    font-family: "VT323 Regular";
    src: url(../fonts/VT323-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    padding: 3rem;

    h1 {
        font-family: 'Courier New', Courier, monospace;
        margin-bottom: 2rem;
        background-color: rgb(130, 202, 130);
        color: white;
        padding: .5rem;
        border-radius: 10px;;
    }
    p {
        margin-bottom: 1.5rem;
        color: rgb(129, 39, 133);

        &:first-of-type {
            font-family: "Bowlby One Regular";
            font-size: 1.2rem;
        }
        &:nth-of-type(2) {
            font-family: "DM Mono Regular";
            font-size: 1.2rem;
        }
        &:nth-of-type(3) {
            font-family: "Modak Regular";
            font-size: 1.7rem;
        }
        &:nth-of-type(4) {
            font-family: "Orelega One Regular";
            font-size: 1.5rem;
        }
        &:last-of-type {
            font-family: "VT323 Regular";
            font-size: 2rem;
        }
    }
}